.weather {
  margin-top: 20px;
  /* border: 3px dashed grey; */
  border-radius: 20px;
  padding-bottom: 30px;
  width: max-content;
  padding: 0px 20px 20px 20px;
  margin-left: 25%;
}
.weather .title {
  font-size: 4rem;

  font-family: "Times New Roman", Times, serif;
}
.weather form {
  margin-top: 30px;
}
.weather form input {
  padding: 10px;
  border: none;
  /* border-bottom: 2px dashed rgb(2, 57, 88); */
  margin-right: 10px;
}

.weather form input:focus {
  outline: none;
  /* border-bottom: 3px dashed rgb(2, 57, 88); */
}


/* .weather .submit:hover {
  background: transparent;
  color: black;
} */

.weather .submit:focus {
  outline: none;
}
